.errortext {
    color:white;
}

.preloader img{
    height:50px;
    width:50px;
    margin-top:20px;
}
a {
    color: white;
    text-decoration:none;
    @include tablet{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    height:420;
    }
}
ul{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    color:white;
    justify-content:center;
    font-size:50px;
    font-family:'oslight',sans-serif;
    @include tablet{
    flex-direction:row;
    }
}

li{
    flex-direction:row;
    flex-basis:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    position:relative;
    flex-grow:1;
    @include tablet{
    flex-basis:50%;
   @include desktop{
    flex-basis:25%;
    height:420px;
    
        }
    }
}
.contentcontainer{
    height:100%;
    width:100%;
@include desktop{
    height:420px;
    object-fit:cover;
    

        
        }
    }

    


.contenttext{
    z-index:3px;
    line-height:1.5rem;
    font-family:'oslight', sans-serif;
    font-size:16px;
    display:block;
    background-color:rgba(0,0,0,.6);
    background-size:100%, 100%;
    position:absolute;
    bottom:0;
    padding:0.5rem 1rem;

}



