.errortext {
    color:white;
}

.preloader img{
    height:50px;
    width:50px;
    margin-top:20px;
}
a {
    color: white;
    text-decoration:none;
    @include tablet{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    }
}
ul{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    color:white;
    justify-content:center;
    font-size:50px;
    font-family:'oslight',sans-serif;
    @include tablet{
    flex-direction:row;
    }
}

li{
    flex-direction:row;
    flex-basis:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    box-sizing:border-box;
    position:relative;
    height:420px;
    @include tablet{
    flex-basis:50%;
   
    @include desktop{
    flex-basis:25%;
    height:360px;
    
        }
    }
}
img{
    height:420px;
    width:100%;
@include desktop{
    height:360px;
    width:100%;
        
    }
}
    


.contenttext{
    z-index:3px;
    line-height:2rem;
    min-width:100%;
    box-sizing:border-box;
    font-family:'oslight',sans-serif;
    font-size:16px;
    display:block;
    background-color:rgba(0,0,0,.6);
    background-size:100%, 100%;
    position:absolute;
    bottom:0;
    padding-left:1rem;
}
