

a {
    color: white;
    text-decoration:none;
      @include tablet{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    
    }
    @include desktop{
}
}

ul{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    @include tablet{
    flex-direction:row;
   
    @include desktop{
    }
    }
}
li{
    flex-direction:column;
    flex-basis:100%;
    height:420px;
    overflow-x:hidden;
    overflow-y:hidden;
    box-sizing:border-box;
    z-index:-1px;
    // width:100%;

    @include tablet{
    flex-basis:50%;
   
    @include desktop{
    flex-basis:25%;
    
    }

}
}

    img{
        // box-sizing:border-box;
        width:100vh;
            @include tablet{
        // box-sizing:border-box;
        width:100vh;
        height:420px;
    
        @include desktop{
        width:100%;
        
    }
    }
    }


h2{
    position:absolute;
    z-index:3px;
    line-height:2rem;
    max-width:600px;
    box-sizing:border-box;
    text-align:center;
    margin-top:280px;


    @include tablet{
    max-width:400px;


    @include desktop{
    max-width:300px;
        
    }
}
}
