footer{
    position:relative;
    overflow:hidden;
}

.copyright{
    color:#c2c2c2;
    bottom:0;
    text-align:center;
    font-family:'oslight',sans-serif;
    @include desktop{
    text-align:left;

    }
}


.instacaps{
    text-transform:uppercase;
}