.container{
    display:flex;
    justify-content:center;
    flex-direction:row;
    @include tablet{
    justify-content:flex-start;

    }

}

body {
    background-color:black;
}



.nytimage{
    width:200px;
    margin-top:5rem;
    align-self:center;
    @include tablet{

    }
    @include desktop{
    width:50px;
    }
}


.sectiontext{
    color:#ffffff;
    font-size:16px;
    margin-top:20px;
    display:block;
    position:relative;
    padding-bottom:40px;
    font-family:"oslight",sans-serif;

}


button{
    font-size:1.1rem;
}


// .searchsection{
//     display:block;
// }
