.container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height: 40rem;
    overflow:hidden;
    @include tablet{
    height: 40rem;
    flex-direction:row;
    @include desktop{
    height: 40rem;
    justify-content:flex-start;
    }
    
    }
        }

body {
    background-color:black;
        }
  
.nytimage{
    vertical-align:middle;
    width:auto;
    height: 220px;
    text-align:center;
    padding-bottom:1rem;
    animation-name:nytanimation;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
@include tablet{
    width:25%;
    height:auto;
    animation-name:nytanimatetablet;
    margin-right:10px;
@include desktop{
    height:180px;
    }   
    }   
            }

@keyframes nytanimation{
    0%{
        transform:translate(0px, 0px);
    }
    100%{
        transform:translate(20px, -5px);
        } 
    }

@keyframes nytanimatetablet{
    0%{
        transform:translate(0px, 0px);
    }
    100%{
        transform:translate(-10px, 5px);
    }

        }

.nav-wrapper{
    animation-name:navanimation;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;;
    @include tablet{
    animation-name:navanimatetablet;
    margin-right:200px;
        }
    @include desktop{
     }
        }
    
    @keyframes navanimation{
    0%{
        transform:translate(0px,0px);
    }
    100%{
        transform:translate(-5px, 5px);
    }
      
    }

    @keyframes navanimatetablet{
    0%{
        transform:translate(0px,0px);
    }
    100%{
        transform:translateX(15px)
    }

    }
.sectiontext{
    color:#ffffff;
    font-size:16px;
    font-family:'oslight',sans-serif;
    margin-bottom:20px;
    text-align:center;
    @include tablet{
    
    }
    @include desktop{

    }
        }

.selector{
    font-size:1.1rem;
    display:block; 
    width:100;
    font-family:'oslight',sans-serif;
    transition: all ease 0.2s;
    @include tablet{
    
    }
    @include desktop{

    }
    }

    

.copyright{
    text-align:center;
    font-family:'oslight',sans-serif;
    @include tablet{
    
    }
    @include desktop{
    margin-left:30px;
    }
}

.headershiftwitharticles{
    height:auto;
    padding-top:30px;
    padding-bottom:20px;
    
}


.shrinkimage{
    width:150px;
    height:150px;

  @include tablet{
    width:67px;
    height:67px;
    
    @include desktop{
    margin-left:30px;
    }
}

}