.container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    @include tablet{
    flex-direction:row;
    @include desktop{
    justify-content:flex-start;
    }
    
    }
        }

body {
    background-color:black;
        }
  
#nytimage{
    width:auto;
    height: 180px;
    margin-top:8rem;
    text-align:center;
    animation-name:nytanimation;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
@include tablet{
    animation-name:nytanimatetablet;
    margin-top:13rem;
    margin-right:10px;
@include desktop{
    align-self:flex-start;
    }   
    }   
            }

@keyframes nytanimation{
    0%{
        transform:translate(0px, 0px);
    }
    100%{
        transform:translate(20px, -5px);
        } 
    }

@keyframes nytanimatetablet{
    0%{
        transform:translate(0px, 0px);
    }
    100%{
        transform:translate(-10px, 5px);
    }

        }

.nav-wrapper{
    animation-name:navanimation;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;;
    @include tablet{
    animation-name:navanimatetablet;
    padding-top:250px;
    margin-right:200px;
        }
    @include desktop{
     }
        }
    
    @keyframes navanimation{
    0%{
        transform:translate(0px,0px);
    }
    100%{
        transform:translate(-5px, 5px);
    }
      
    }

    @keyframes navanimatetablet{
    0%{
        transform:translate(0px,0px);
    }
    100%{
        transform:translateX(15px)
    }

    }
.sectiontext{
    color:#ffffff;
    font-size:16px;
    margin-top:20px;
    padding-bottom:40px;
    text-align:center;
    @include tablet{
    
    }
    @include desktop{

    }
        }

.selector{
    font-size:1.1rem;
    display:block; 
    margin:0 auto;
    padding:0;
    width:100;
    font-family:'osbold';
    transition: all ease 0.2s;
    @include tablet{
    
    }
    @include desktop{

    }
    }

    

.copyright{
    text-align:center;
    @include tablet{
    
    }
    @include desktop{
    margin-left:30px;
    }
}